/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .current_page_item a,
.navbar .active:focus,
.navbar li:hover > a {
  color: var(--accent);
}

.navbar .sub-menu {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  -webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.navbar .sub-menu li {
  min-width: 200px;
}

.navbar .sub-menu a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: var(--default);
  font-weight: 400;
}

.navbar .sub-menu a i {
  font-size: 12px;
}

.navbar .sub-menu li i {
  color: var(--default);
}

.navbar .sub-menu a:hover,
.navbar .sub-menu .active:hover,
.navbar .sub-menu li:hover > a {
  color: var(--accent);
}

.navbar .menu-item-has-children:hover .sub-menu {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .sub-menu .sub-menu {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .sub-menu .menu-item-has-children:hover .sub-menu {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .sub-menu .sub-menu {
    left: -90%;
  }

  .navbar .sub-menu .menu-item-has-children:hover .sub-menu {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0);
  overflow-y: auto;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: var(--accent);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .sub-menu {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  -webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .sub-menu li {
  min-width: 200px;
}

.navbar-mobile .sub-menu a {
  padding: 10px 20px;
  color: var(--default);
}

.navbar-mobile .sub-menu a i {
  font-size: 12px;
}

.navbar-mobile .sub-menu a:hover,
.navbar-mobile .sub-menu .active:hover,
.navbar-mobile .sub-menu li:hover > a {
  color: var(--accent);
}

.navbar-mobile .sub-menu.dropdown-active {
  display: block;
}
